<head>
  <meta charset='utf-8' />
  <title>Clientela Open Source CRM</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="he:labs, helabs, web software development, web, desenvolvimento, web, sistemas, saas, cloud, programação, ruby, startup, aplicativos, aplicações, software, sistemas" /> 
  <meta name="description" content="Clientela is full-featured CRM web application written in Ruby on Rails. It runs smoothly using Heroku and Amazon S3." />
  <meta name="author" content="Clientela - http://clientela.com.br" /> 
  <meta content='©2012 Clientela' name='copyright' />
  <meta name="robots" content="index,follow" />
  <link href="/stylesheets/style_site.css" media='all' rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>

  <!--[if lt IE 10]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% include google_analytics.ext %}
</head>